<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <h1>Contas</h1>
    <button mat-raised-button [color]="buttonColors.calculatePercentage" (click)="navigateToCalculatePercentage()">Calcular porcentagem</button>
    <button mat-raised-button [color]="buttonColors.updateSalary" (click)="navigateToUpdateSalary()">Atualizar salário</button>
    <mat-divider></mat-divider>
  </mat-sidenav>

  <mat-sidenav-content>
    <iframe [src]="link" class="iframe"></iframe>
  </mat-sidenav-content>
</mat-sidenav-container>
